@font-face 
{
    font-family: TnaLogoM2LPimport;
    src: url("custom\ font/TnaLogo-M2LP.ttf");
}

header #menu-checkbar-hamburger
{
    margin-right: 5px;
    position: relative;
    height: 35px;
    width: 35px;
    float: right;
    transform: translateY(22.5px);
    flex-direction: column;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    display: none;
}

.line 
{
    height: 5px;
    width: 100%;
    background-color: white;
}

/* ------------------hidden-------------------------- */
.hidden-box
{
    height: 92vh;
    width: 10vh;
    position: absolute;
    display: none;
}
/* --------------------------------------------------- */


/* shrink */
@media (max-width : 1515px)
{
    #Laforant-Bar .submenu
    {
        transform: translate(190px , 79.7px);
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: absolute;
        min-height: 100px;
        width: 250px;
        background-color: #111111;
    }
    #Laforant-Bar .submenu .sb-menu
    {
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-weight: 700;
        line-height: 3rem;
        height: 100%;
        margin-top: 1px;
        border-bottom: 1px solid gray;
        width: 100%;
    }
    #Nav-Bar a
    {
        border-bottom: 4px solid transparent;
        color: #F9F9F9;
        display: flex;
        font-size: 14px;
        font-weight: 800;
        line-height: 76px;
        margin: 0 15px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 2px;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        transition: .5s;
    }
}

/* for navbar */
@media (max-width : 1417px)
{
    #Nav-Bar a
    {
        border-bottom: 4px solid transparent;
        color: #F9F9F9;
        display: flex;
        font-size: 14px;
        font-weight: 800;
        line-height: 76px;
        margin: 0 4.5px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 2px;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        transition: .5s;
    }
} 

@media (max-width : 1310px)
{
    #Nav-Bar a
    {
        border-bottom: 4px solid transparent;
        color: #F9F9F9;
        display: flex;
        font-size: 13px;
        font-weight: 800;
        line-height: 76px;
        margin: 0 3.9px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 2px;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        transition: .5s;
    }
} 

@media (max-width : 1279px) 
{
    #Nav-Bar a
    {
        border-bottom: 4px solid transparent;
        color: #F9F9F9;
        display: flex;
        font-size: 12px;
        font-weight: 800;
        line-height: 76px;
        margin: 0 3px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 2px;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        transition: .5s;
    }
}

@media (max-width : 1221px)
{
    #Nav-Bar a
    {
        border-bottom: 4px solid transparent;
        color: #F9F9F9;
        display: flex;
        font-size: 12px;
        font-weight: 800;
        line-height: 76px;
        margin: 0 3px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 2px;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        transition: .5s;
    }
}

@media (max-width : 1200px)
{
    #Nav-Bar a
    {
        border-bottom: 4px solid transparent;
        color: #F9F9F9;
        display: flex;
        font-size: 11.5px;
        font-weight: 800;
        line-height: 76px;
        margin: 0 1px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 2px;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        transition: .5s;
    }
}

@media (max-width : 1163px)
{
    #Nav-Bar a
    {
        border-bottom: 4px solid transparent;
        color: #F9F9F9;
        display: flex;
        font-size: 11px;
        font-weight: 800;
        line-height: 76px;
        margin: 0 1px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 2px;
        letter-spacing: 1.3px;
        text-transform: uppercase;
        transition: .5s;
    }
}

@media (max-width : 1150px)
{
    #Nav-Bar a
    {
        border-bottom: 4px solid transparent;
        color: #F9F9F9;
        display: flex;
        font-size: 11px;
        font-weight: 800;
        line-height: 76px;
        margin: 0 1px;
        padding-left: 11px;
        padding-right: 11px;
        padding-top: 2px;
        letter-spacing: 1.3px;
        text-transform: uppercase;
        transition: .5s;
    }
}

@media (max-width : 1103px)
{
    #Nav-Bar a
    {
        border-bottom: 4px solid transparent;
        color: #F9F9F9;
        display: flex;
        font-size: 10.7px;
        font-weight: 800;
        line-height: 76px;
        margin: 0 1px;
        padding-left: 11px;
        padding-right: 11px;
        padding-top: 2px;
        letter-spacing: 1.3px;
        text-transform: uppercase;
        transition: .5s;
    }
}

@media (max-width : 1091px)
{
    #Nav-Bar a
    {
        border-bottom: 4px solid transparent;
        color: #F9F9F9;
        display: flex;
        font-size: 11.5px;
        font-weight: 800;
        line-height: 76px;
        margin: 0 1px;
        padding-left: 11px;
        padding-right: 11px;
        padding-top: 2px;
        letter-spacing: .9px;
        text-transform: uppercase;
        transition: .5s;
    }

    #Laforant-Bar .LaforantBar-left-menu-separator-2
    {
        height: 50px;
        margin-left: 10px;
        margin-right: 7px;
        margin-top: 15px;
        border-left: 2px solid #808080 ;
    }
}

@media (max-width : 1058px)
{
    #Nav-Bar a
    {
        border-bottom: 4px solid transparent;
        color: #F9F9F9;
        display: flex;
        font-size: 10.6px;
        font-weight: 800;
        line-height: 76px;
        margin: 0 1px;
        padding-left: 11px;
        padding-right: 11px;
        padding-top: 2px;
        letter-spacing: .9px;
        text-transform: uppercase;
        transition: .5s;
    }

    #Laforant-Bar .LaforantBar-left-menu-separator-2
    {
        height: 50px;
        margin-left: 10px;
        margin-right: 7px;
        margin-top: 15px;
        border-left: 2px solid #808080 ;
    }
}

@media (max-width : 1024px ) 
{
    .kotak img
    {
        position: absolute;
        width: 3.5rem;
        height:3.5rem;
        transition: none;
        z-index: 4;
        transform: translate(-5px ,-7.5rem);
        left: 46%;
        z-index: 3;
    }

    .video-wrapper:hover .kotak  img
    {
        animation-name: scales;
        animation-iteration-count: infinite;
        animation-duration: 1.5s;
    }

    @keyframes scales
    {
        0%
        {
            transform: translate(-3 ,-7.5rem);
        }
        50%
        {
            transform: translate(-7px ,-7.5rem);
        }
    }
}
/* media menu burger box strip */


@media (max-width : 1050px)
{
    
    
    #Laforant-Bar
    {
        position: fixed;
        border-bottom: 3px solid #333333;
        display: flex;
        width: 100%;
        height: 80px;
        background-color: #111111;
        position: relative;
        font-weight: bold;
        font-size: 14px;
        font-family: sans-serif;
        line-height: normal;
        text-align: left;
        /* agar posisi paling depan */
        z-index: 35000;
    }

    #Laforant-Bar .Nav-Bar
    {
        height: 80px;
        text-align: center;
    }   

    #Laforant-Nav-Bar
    {
        height: 80px;
        max-width: 72%;
        text-align: center;
        display: flex;
        margin-right: 0;
        margin-left: auto;
        margin-right: auto;
        padding-left: 12px;
        padding-right: 12px;
        justify-content: center;
    }

    #Laforant-Nav-Bar .nav-menu
    {
        display: inline-block;
        position: relative;
        height: 80px;
    }

    #Nav-Bar .logos
    {
        position: relative;
        border-bottom: 4px solid transparent;
        color: #F9F9F9;
        display:none;
        font-size: 12px;
        font-weight: 800;
        line-height: 76px;
        margin: 0 30px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 2px;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        transition: .7s;
    }

    #Nav-Bar a
    {
        display: none;
    }

    #Nav-Bar
    {
        width: 72%;
        border-bottom: 4px solid transparent;
        color: #F9F9F9;
        font-size: 12px;
        font-weight: 800;
        line-height: 76px;
        margin: 0 30px;
        padding-left: 12px;
        padding-right: 12px;
        padding-top: 2px;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        text-align: center;
    }

    #Nav-Bar .logos
    {
        font-family: TnaLogoM2LPimport;
        font-weight: bold;
        font-size: 23px;
        text-align: center;
        display: flex;
    }

    #Nav-Bar a:hover
    {
        color: red;
    }

    .nav-menu:hover 
    {
        border-bottom: 2px solid red;
        transition: .7s;
    }

    /* hamburger strip box */
    header #menu-checkbar-hamburger
    {
        margin-right: 10px;
        position: relative;
        height: 30px;
        width: 45px;
        float: right;
        transform: translateY(25px);
        flex-direction: column;
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        
    }

    #menu-checkbar-hamburger div
    {
        transition:all .5s ease;
    }
/*  bagian hidden    box     utama       ada     di    js */
    .hidden-box
    {
        right: 0;
        top: 9vh;
        height: 95vh;
        width: 50%;
        position: absolute;
        display: flex;
        background-color: rgba(0, 0, 0, 0.9);
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .hidden-box-normal
    {
        transform: translateX(0%);
    }

    .toggle .line-1
    {
        position: absolute;
        background-color: red;
        transform: rotate(-45deg) translate(1px ,-2px);
    }

    .toggle .line-2
    {
        position: absolute;
        opacity: 0;
    }

    .toggle .line-3
    {
        position: absolute;
        background-color: red;
        transform: rotate(45deg) translate(-1px,-2px);
    }
/* ----------------------------------- */

    .hidden-box .nav-menu 
    {
        border: 3px solid white;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        width: 100%;
        height: auto;
        text-align: center;
        line-height: 55px;
    }

    .hidden-box .nav-menu a:hover
    {
        border-bottom: none;
        color: red;
        border-top: none;
        cursor: pointer;
    }

    .hidden-box .nav-menu:hover
    {
        background-color: rgb(61, 61, 61);
    }

    .hidden-box .nav-menu a 
    {
        color: white;
        font-family: TnaLogoM2LPimport;
        font-size: 13px;
        font-weight: 100;
    }
}

@media (max-width : 768px)
{
   
    #Laforant-Bar
    {
        position: fixed;
        border-bottom: 3px solid #333333;
        display: flex;
        width: 100%;
        height: 80px;
        background-color: #111111;
        position: relative;
        font-weight: bold;
        font-size: 14px;
        font-family: sans-serif;
        line-height: normal;
        text-align: left;
        /* agar posisi paling depan */
        z-index: 35000;
    }

    #Laforant-Bar .Nav-Bar
    {
        height: 80px;
        text-align: center;
    }   

    #Laforant-Nav-Bar
    {
        height: 80px;
        max-width: 50%;
        text-align: center;
        display: flex;
        margin-right: 0;
        margin-left: auto;
        margin-right: auto;
        padding-left: 3px;
        padding-right: 3px;
        justify-content: center;
    }

    #Laforant-Nav-Bar .nav-menu
    {
        display: inline-block;
        position: relative;
        height: 80px;
    }

    #Nav-Bar .logos
    {
        position: relative;
        border-bottom: 4px solid transparent;
        color: #F9F9F9;
        display:none;
        font-size: 12px;
        font-weight: 800;
        line-height: 76px;
        margin: 0 3px;
        padding-left: 1px;
        padding-right: 1px;
        padding-top: 2px;
        letter-spacing: 0px;
        text-transform: uppercase;
        transition: .7s;
    }

    #Nav-Bar a
    {
        display: none;
    }

    #Nav-Bar
    {
        width: 72%;
        border-bottom: 4px solid transparent;
        color: #F9F9F9;
        font-size: 12px;
        font-weight: 800;
        line-height: 76px;
        padding-left: 3px;
        padding-right: 3px;
        padding-top: 2px;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        text-align: center;
    }

    #Nav-Bar .logos
    {
        font-family: TnaLogoM2LPimport;
        font-weight: bold;
        font-size: 18px;
        text-align: center;
        display: flex;
    }

    #Nav-Bar a:hover
    {
        color: red;
    }

    .nav-menu:hover 
    {
        border-bottom: 2px solid red;
        transition: .7s;
    }

    /* hamburger strip box */
    header #menu-checkbar-hamburger
    {
        margin-right: 15px;
        position: relative;
        height: 30px;
        width: 45px;
        float: right;
        transform: translateY(25px);
        flex-direction: column;
        cursor: pointer;
        display: flex;
        justify-content: space-around;
        
    }

    #menu-checkbar-hamburger div
    {
        transition:all .5s ease;
    }
/*  bagian hidden    box     utama       ada     di    js */
    .hidden-box
    {
        right: 0;
        top: 9vh;
        height: 95vh;
        width: 50%;
        position: absolute;
        display: flex;
        background-color: rgba(0, 0, 0, 0.83);
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .hidden-box-normal
    {
        transform: translateX(0%);
    }

    .toggle .line-1
    {
        position: absolute;
        background-color: red;
        transform: rotate(-45deg) translate(1px ,-2px);
        cursor: pointer;
    }

    .toggle .line-2
    {
        position: absolute;
        opacity: 0;
    }

    .toggle .line-3
    {
        position: absolute;
        background-color: red;
        transform: rotate(45deg) translate(-1px,-2px);
    }
/* ----------------------------------- */

    .hidden-box .nav-menu 
    {
        border: none;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        width: 100%;
        height: auto;
        text-align: center;
        line-height: 55px;
        border: 3px solid white;
    }

    .hidden-box .nav-menu a:hover
    {
        border-bottom: none;
        color: red;
        border-top: none;
        cursor: pointer;
    }

    .hidden-box .nav-menu a 
    {
        color: white;
        font-family: TnaLogoM2LPimport;
        font-size: 13px;
        font-weight: 100;
    }

    #Laforant-Bar .LaforantBar-left-menu-separator-2
    {
        height: 50px;
        margin-left: 10px;
        margin-right: 7px;
        margin-top: 15px;
        border-left: 2px solid #808080 ;
    }
}

@media (max-width : 1024px)
{
    #Laforant-Bar .LaforantBar-right-menu
    {
        display: none;
    }
    #Laforant-Bar .LaforantBar-left-menu-separator-2
    {
        margin-right: 50px;
    }

    #Laforant-Bar .Nav-Bar
    {
        overflow: visible;
    }

    .hidden-box
    {
        padding: 0 1rem;
    }
    
}
@media (max-width : 426px)
{
    #Laforant-Bar .LaforantBar-left-menu
    {
        display: none;
    }
    #Laforant-Bar .LaforantBar-right-menu
    {
        display: none;
    }
    #Laforant-Bar .LaforantBar-left-menu-separator-2
    {
        display: none;
    }

    #Laforant-Bar .Nav-Bar
    {
        overflow: visible;
    }

    .hidden-box
    {
        padding: 0 1rem;
    }

    header #menu-checkbar-hamburger
    {
        width: 35px;
    }
    .hidden-box
    {
        width: 60%;
        height: 90vh;
    }
    
}
@media (max-width : 376px)
{
    #Laforant-Bar .LaforantBar-left-menu
    {
        display: none;
    }
    #Laforant-Bar .LaforantBar-right-menu
    {
        display: none;
    }
    #Laforant-Bar .LaforantBar-left-menu-separator-2
    {
        display: none;
    }

    #Laforant-Bar .Nav-Bar
    {
        overflow: visible;
    }

    .hidden-box
    {
        padding: 0 1rem;
    }

    header #menu-checkbar-hamburger
    {
        width: 35px;
    }
    .hidden-box
    {
        width: 85%;
        height: 90vh;
    }
    #Nav-Bar .logos
    {
        font-size: 15px;
    }
}
@media (max-width : 321px)
{
    #Laforant-Bar .LaforantBar-left-menu
    {
        display: none;
    }
    #Laforant-Bar .LaforantBar-right-menu
    {
        display: none;
    }
    #Laforant-Bar .LaforantBar-left-menu-separator-2
    {
        display: none;
    }

    #Laforant-Bar .Nav-Bar
    {
        overflow: visible;
    }

    .hidden-box
    {
        padding: 0 1rem;
    }

    header #menu-checkbar-hamburger
    {
        width: 35px;
    }
    .hidden-box
    {
        width: 85%;
        height: 90vh;
    }
    #Nav-Bar .logos
    {
        font-size: 12px;
    }
}
/* -------------------------------------------------------------- */