@media (max-width:1025px)
{
    .slideup-textt p 
    {
        font-size: .7rem;
    }
    .sentence ~ .linkss
    {
        margin-top: 1rem;
    }
    .tri-content .containers .gambars .agen 
    {
        transform: translateY(40px);
    }
    .tri-content .containers .gambars .bagrounds
    {
        display: none;
    }
    .tri-content .containers .textt .wrap .button
    {
        height: 80%;
    }
    .forth-content .map .textt .wrap .button
    {
        height: 70%;
    }

    .forth-content .map .textt .wrap::before ,  .forth-content .map .textt .wrap::after
    {
        width: 22rem;
    }
}

@media (max-width:769px)
{
    .second-content
    {
        height: 110vh;
    }
    .tri-content
    {
        height: 115vh;
    }
    .tri-content .containers .gambars .agen 
    {
        transform: translateY(200px) scale(1.3);
    }
    .tri-content .containers .gambars
    {
        z-index: -100;
        width: 60%;
    }
    .tri-content .containers .textt .wrap
    {
        margin-top: -50px;
    }
    .tri-content .containers .textt .wrap .button
    {
        height: 50%;
    }
    .tri-content .containers .textt .wrap::before,
    .tri-content .containers .textt .wrap::after
    {
        width: 18rem;
    } 
    .kotak img 
    {
        transform: translate(-11px ,-7.5rem);
    }

    .forth-content
    {
        height: 115vh;
    }
    .forth-content .map .textt .wrap
    {
        margin-top: -50px;
    }
    .forth-content .map .textt .wrap .button
    {
        height: 47%;
    }
    .forth-content .map .textt .wrap::before,
    .forth-content .map .textt .wrap::after
    {
        width: 18rem;
    } 
    .forth-content .map .textt .wrap
    {
        padding-left: 0;
        width: 18.9rem;
    }
}


@media(max-width: 426px)
{
    .footer .rec .left .media .wraps 
    {
        position: relative;
        height: 100%;
        width: 45px;
        margin: 0 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 40px;
    }

    .footer .rec .right .bactoup
    {
        font-size: 45px;
        margin-top: 25px;
    }
}

@media(max-width: 376px)
{
    .footer .rec .left .media .wraps 
    {
        position: relative;
        height: 100%;
        width: 40px;
        margin: 0 3px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 35px;
    }
    .footer .rec .left .copyright
    {
        padding-right: 15px;
    }
}

@media (max-width: 1023.7px)
{

    /* footer =================================================================================*/
    .footer
    {
        position: relative;
        width: 100%;
        height: 50vh;
        display: flex;
        background: #2a2a2a;
        flex-direction: column;
    }
    .footer .rec .left , .footer .rec .right
    {
        height: 50%;
        width: 100%;
    }
    .footer .rec 
    {
        flex-direction: column;
    }
    .footer .rec .right .bactoup
    {
        margin-bottom: 0px;
    }
    .footer .rec .left .copyright
    {
        margin-top: 55px;
    }
    .footer .rec .right .platform 
    {
        display: none;
    }
}

@media(max-width: 321px)
{
    .footer .rec .left .media .wraps 
    {
        position: relative;
        height: 100%;
        width: 35px;
        margin: 0 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
    }
    .footer .rec .right .bactoup
    {
        font-size: 40px;
        margin-top: 50px;
        margin-right: 10px;
    }
}